/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/09/2016, 16:05:10
    Author     : Alexandre Barbieri
*/

html, body{
    margin: 0;
    padding: 0;
    background-color: #E8D50C;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}